aiohappyeyeballs
aiohtt
aiosignal
annotated-types
asgiref
asttokens
attrs
beautifulsoup4
cachetools
certifi
cffi
charset-normalizer
cloudinary
colorama
cryptography
decorator
Django
django-allauth
django-rest-framework
djangorestframework
djongo
dotenv
et_xmlfile
executing
frozenlist
genai
google
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-generativeai
googleapis-common-protos
grpcio
grpcio-status
httplib2
idna
ipython
jedi
matplotlib-inline
multidict
openai
openpyxl
parso
pip
prompt_toolkit
propcache
proto-plus
protobuf
psycopg2-binary
pure_eval
pyasn1
pyasn1_modules
pycparser
pydantic
pydantic_core
Pygments
PyJWT
pymango
pymongo
pyparsing
python-dotenv
pytz
regex
requests
rsa
setuptools
six
soupsieve
sqlparse
stack-data
tabulate
tailwind
tiktoken
tqdm
traitlets
typing_extensions
typing-inspection
tzdata
uritemplate
urllib3
wcwidth
yarl
